

    <mat-toolbar>
       <span>MiarmApp Login</span>
     </mat-toolbar>
   
   
   
     <form class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Write your email" [(ngModel)]="user.email" name="email">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Write your password" type="password" [(ngModel)]="user.password" name="password">
      </mat-form-field>
        <button mat-raised-button color="primary" (click)="doLogin()">Login</button>
    </form>
