
  <mat-card class="example-card" style="margin-top: 2%;">
    <mat-card-header>
        <div mat-card-avatar [style]="getAvatar(publicacionInput.user.avatar)"></div>
        <mat-card-title>{{publicacionInput.user.nick}}</mat-card-title>
        <mat-card-subtitle>{{publicacionInput.user.email}}</mat-card-subtitle>
      </mat-card-header>
    <mat-card-content>
        <img [src]="getAvatar2(publicacionInput)" width="100%" alt="">
        <div class="juntos">
            
            <mat-card-title>{{publicacionInput.titulo}}</mat-card-title>
        </div>
        <div mat-card-avatar class="example-header-image"></div>
        <a href="http://localhost:4200/posts"><button (click)="deletePost()"><mat-icon class="delete" aria-hidden="false" aria-label="Example home icon">delete</mat-icon></button></a>
        
    </mat-card-content>
</mat-card>
