<mat-toolbar>
  <span>MiarmApp Register</span>
</mat-toolbar>
<form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Write your name" [(ngModel)]="RegisterDto.nombre" name="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Write your last name" [(ngModel)]="RegisterDto.apellidos" name="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Nick</mat-label>
        <input matInput placeholder="Write your nick" [(ngModel)]="RegisterDto.nick" name="username">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Write your email" [(ngModel)]="RegisterDto.email" name="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput placeholder="Write your fechaNacimiento" [(ngModel)]="RegisterDto.fechaNacimiento" name="fechaNacimiento">
    </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Write your password" [(ngModel)]="RegisterDto.password" name="password">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Repit Password</mat-label>
        <input matInput placeholder="Write your password" [(ngModel)]="RegisterDto.password2" name="password2">
      </mat-form-field>
      <br>
      <br>
      <mat-card-content>
        <h3>Privacidad:</h3>
        <section class="example-full-width caja">
        <span style="margin-right: 10px;">Privado</span>
        <mat-slide-toggle style="margin-right: 10px;" [checked]="false" [(ngModel)]="RegisterDto.visibilidadUsuario" name="privacidad"></mat-slide-toggle>
        <span style="margin-right: 10px;">Publico</span>
        </section>
      </mat-card-content>
      <div class="archivo">  
        <div>
          <input type="file" (change)="capturarFile($event)">
        </div>
        <div>
          <button type="button" (click)="subirArchivo()">Subir archivo</button>
        </div>
        <div *ngIf="previsualizacion">
          <img width="100px" [src]="previsualizacion" alt="">
        </div>
      </div>
      <button mat-raised-button color="primary" style="margin-top: 35px;" (click)="doRegister()">Register</button>
  </form>

